@charset 'utf-8';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.8;
    font-family: "Open Sans", "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #333;
    background-color: #fff;
}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.5;
    letter-spacing: .2em;
    text-align: center;
}

h3 {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: justify;
}

address {
    font-style: normal;
}

a {
    color: #efefef;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #fff;
    text-decoration: underline;
}

ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

section {
    padding: 100px 0;
}

.h2-title {
    text-transform: uppercase;
    position: relative;
}

.h2-title::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: #a5d1ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    /* 前から順に変形が適用される */
    z-index: -1;
    /* margin-left: -20px; */
}

.txt-center {
    text-align: center !important;
}

.txt-lead {
    font-weight: 700;
}

/* ボタン */
.btn {
    display: block;
    padding: 20px 35px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
}

.btn:hover,
.btn:focus {
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    /* 指のカーソル */
}

.btn-reserve {
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
}

/* レイアウト */
.inner {
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .inner {
        max-width: 1200px;
    }
}

/* モバイルとPCの表示に関するスタイル */
.sp-only {
    display: block;
}

.pc-only {
    display: none;
}

@media screen and (min-width:768px) {
    .sp-only {
        display: none;
    }

    .pc-only {
        display: block;
    }
}

/* headerのスタイル */
.header {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --black: 0 0 0;
    background: rgba(var(--black) / .8);
    /* background: rgba(0, 0, 0, .8); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 15px;
    }
}

/* .header-navi {
    display: none;
} */

.logo-area {
    width: 200px;
    margin: 0;
    text-align: left;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .logo-area {
        width: 250px;
    }
}

.none {
    display: none;
}

@media screen and (max-width: 767px) {

    #nav-input-open,
    #nav-input-open span {
        display: inline-block;
        /* 幅と高さの指定のためブロックレベル性質に変更 */
        vertical-align: middle;
        transition: 0.2s ease-in-out;
    }

    #nav-input-open {
        width: 40px;
        height: 27px;
        border: none;
        cursor: pointer;
        position: relative;
    }

    #nav-input-open span {
        /* 自動的に要素はdisplay: blockに変化 */
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #ccc;
    }

    #nav-input-open span:nth-of-type(1) {
        top: 0;
    }

    #nav-input-open span:nth-of-type(2) {
        top: 12px;
    }

    #nav-input-open span:nth-of-type(3) {
        top: 24px;
    }

    .header-navi ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;
        background: rgba(0 0 0 /.8);
        width: 80vw;
        height: 100vh;
        height: calc(100vh - 60px);
        margin-top: 0;
        text-transform: uppercase;
        transform: translate(-105%);
        transition: 0.3s ease-in-out;
    }

    .header-navi ul li {
        margin-bottom: 2em;
    }

    .header-navi ul li a {
        display: block;
        padding: 1em 1em 0;
    }

    #nav-input:checked~.header-navi ul {
        transform: translateX(0);
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(2) {
        opacity: 0;
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
    }
}

@media screen and (min-width: 768px) {
    .header-navi {
        width: 500px;
    }

    .header-navi ul {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
    }
}
