@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gnav-wrap {
    background: #1b9aaa;
}

.gnav-inner {
    /* 
    margin-left: auto;
    margin-right: auto; 
    を組み合わせたもの👇
    */
    margin-inline: auto;
    padding: .5em 1.5em;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnav-logo {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.gnav-list {
    text-align: center;
    background: #1b9aaa;
    padding: 0;
    display: flex;
    gap: 2em;
    list-style: none;
}

.gnav-list li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.gnav-list li span {
    font-size: 12px;
    display: block;
}