@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    padding: 1em;
    background: #eee;
}

p {
    width: 200px;
    height: 200px;
    background: #ff0;
    color: #ef476f;
}

span {
    font-size: 20px;
}

.vertical img,
.vertical span {
    vertical-align: middle;
}